[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "hugo-theme-meme"]
	path = hugo-theme-meme
	url = https://github.com/stamp-cw/hugo-theme-meme.git
